# ----------------------------------------
# PARAMETERS
# ----------------------------------------
output_directory = 'SOME_DIRECTORY_NAME'
hessian_algorithm = 'henm'	# string; only accepting 'henm' at the moment; eventually, other hessian matrix algorithms will be implemented
system_covariance_file = 'SOME_FILE.dat'		# string pointing to a file that contains 3Nx3N covaraiance data
system_average_structure_file = 'SOME_OTHER_FILE.dat'		# string pointing to a file that contains Nx3 average structure data
hessian_functions_file = 'henm_functions.py'
output_hessian_file_name = 'IGPS_apo_henm_hessian.dat'

# ----------------------------------------
# OPTIONAL PARAMETERS
# ----------------------------------------
# BOOLEANS
summary_boolean  = True 		# Boolean value; if True, the script will print out a summary file that breaks down the parameters used in the analysis and how to rerun the same analysis

initial_guess_hessian = 'SOME_OTHER_OTHER_FILE.dat'	# string pointing to a file that contains an initial guess at the hessian; if defined, this hessian is used as a starting point for the hessian algorithm

distance_cutoff = 9999.

# OPTIONAL PARAMETERS hessian_algorithm == 'henm'
henm_alpha = 1E-2
henm_max_iterations = 1000
henm_threshold = 1E-4
temperature = 303

