# ----------------------------------------
# PARAMETERS
# ----------------------------------------
output_directory = 'v01'
hessian_algorithm = 'henm'	# string; 'henm' or 'reach'; capitalization does not matter
system_covariance_file = '../IGPS_apo_v02_1us_com_covar.dat'		# string pointing to a file that contains NxN covaraiance data
system_average_structure_file = '../IGPS_apo_v02_1us_com_average_structure.dat'		# string pointing to a file that contains Nx3 average structure data
hessian_functions_file = 'rbd_henm_function.py'
#hessian_functions_file = 'reach_functions.py'
output_hessian_file_name = 'IGPS_apo_v02_1us_henm_hessian'

# ----------------------------------------
# OPTIONAL PARAMETERS
# ----------------------------------------
# BOOLEANS
summary_boolean  = True 		# Boolean value; if True, the script will print out a summary file that breaks down the parameters used in the analysis and how to rerun the same analysis
plotting_boolean = False		# Boolean value; if True, the script will output plots (and potentially mp4s) at steps in the hessian calculating algorithm

initial_guess_hessian = '../IGPS_apo_v02_1us_com_reach_hessian.dat'	# string pointing to a file that contains an initial guess at the hessian; if defined, this hessian is used as a starting point for the hessian algorithm

# OPTIONAL hessian_algorithm == 'henm'
henm_alpha = 1E-2
henm_max_iterations = 2500
henm_threshold = 1E-4
temperature = 303
distance_cutoff = 12.0

# OPTIONAL hessian_algorithm == 'reach'



